/* global style */

body {
    font-family: karla, sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
}

/* heading */

.heading {
    text-align: center;
    font-size: 4rem;
    text-decoration: underline solid;
}

/* Game area */

.game-area {
    background-color: #A7A5A5;
    box-sizing: border-box;
    width: 85%;
    height: 650px;
    max-height: 1100px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 1px;
    color: black;
}

.controls-area {
    width: 825px;
    margin: 30px auto;
    margin-top: 50px;

}

.question-area {
    width: 75%;
    height: 50px;
    font-size: 30px;
    font-family: Merriweather, sans-serif;
    border: 2px solid yellow;
    border-radius: 25%;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
    align-items: center;
}

#display-question {
    margin-bottom: 0px;
    padding-top: 10px;
    width: 700px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.container{
    display: none;
    position: fixed;
    z-index: 1;
    width: 1100px;
    top: 300px;
} 

.display-container{
    height: 20rem;
    width: 25rem;
    background-color: black;
    border: 5px solid darkred;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    margin: auto auto;
}

.display-container h1{
    text-align: center;
}
.emoji{
    font-size: 75px;
}
.button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button{
    width: 10rem;
    height: 2rem;
    background-color: #d1d1d1;
    border: 1px solid rgb(252, 242, 241);
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.button-container button:hover{
    background-color: darkgray;
    color: white;
}

.opening-container h1 {
    color: black;
    font-size: 35px;
    margin-top: 65px;
    text-align: center;   
}

.options-area {
    width: 75%;
    height: 150px;
    font-size: 30px;
    font-family: Merriweather, sans-serif;
    border: 2px solid yellow;
    border-radius: 25%;
    background-color: black;
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
    align-items: center;
}

#option1, #option2, #option3 {
    display: block;
    background-color: white;
    width: 250px;
    height: 40px;
    border-radius: 25%;
    position: relative;
    float: left;
    text-align: center;
    left: 3%;
    margin-right: 10px;
    margin-top: 6%;
    font-size: 30px;
}

#option1:hover, #option2:hover, #option3:hover {
    background-color: green;
}
/* Buttons */

.btn {
    height: 200px;
    width: 300px;
    color: white;
    font-family: Karla, sans-serif;
}

.btn--big {
    border-radius: 50%;
    padding: 10px;
    padding-top: 25px;
    border: 10px solid;
    transition: all;
    height: 150px;
    width: 150px;
    margin: 0 25px;
    font-size: 70px;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 30px;
    position: relative;
    padding-top: 10%;
    color: black;
}
.btn--purple::after {
    content: attr(data-type);
    position: relative;
    right: 15px;
}
.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active, 
.btn--blue:focus,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active, 
.btn--green:focus, 
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--purple {
    border-color: purple;
    color: purple;
}

.btn--purple:active,
.btn--purple:focus, 
.btn--purple:hover {
    background-color: indigo;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active, 
.btn--red:focus,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

#button-container {
    position: relative;
}

#submit-button {
    margin: auto;
    text-align: center;
    width: 50%;
}
.submit{
    border-radius: 25%;
    background-color: #fcf403;
    border: 1px transparent;
    width: 300px;
    height: 75px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: 2px solid black;
}
.submit:active,
.submit:hover {
    background-color: red
}

/* score area */

.score-area {
    position: relative;
    text-align: center;
    font-size: 30px;
}

.score-area p {
    display: inline-block;
    padding: 15px;
}