/* global style */
body {
    font-family: karla, sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
}

/* heading */
.heading {
    text-align: center;
    font-size: 4rem;
    text-decoration: underline solid;
}

/* Game area */
.game-area {
    background-color: #A7A5A5;
    box-sizing: border-box;
    width: 85%;
    height: 650px;
    max-height: 1100px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 1px;
    color: black;
}

.controls-area {
    width: 825px;
    margin: 30px auto;
    margin-top: 50px;
}

.question-area {
    width: 75%;
    height: 50px;
    font-size: 30px;
    font-family: Merriweather, sans-serif;
    border: 2px solid yellow;
    border-radius: 25%;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
    align-items: center;
}

#display-question {
    margin-bottom: 0px;
    padding-top: 10px;
    width: 700px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.category-container span {
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 1100px;
    top: 300px;
}

.display-container {
    height: 20rem;
    width: 25rem;
    background-color: black;
    border: 5px solid darkred;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    margin: auto auto;
}

.display-container h1 {
    text-align: center;
}

.display-container h2 {
    text-align: center;
    font-size: 20px;
}

.grade-details {
    text-align: center;
}

.emoji {
    font-size: 75px;
}

.button-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button {
    width: 10rem;
    height: 2rem;
    background-color: #d1d1d1;
    border: 1px solid rgb(252, 242, 241);
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.button-container button:hover {
    background-color: darkgray;
    color: white;
}

.opening-container h1 {
    color: black;
    font-size: 35px;
    margin-top: 65px;
    text-align: center;
}

.options-area {
    width: 75%;
    height: 150px;
    font-size: 30px;
    font-family: Merriweather, sans-serif;
    border: 2px solid yellow;
    border-radius: 25%;
    background-color: black;
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
    align-items: center;
}

#option1,
#option2,
#option3 {
    display: block;
    background-color: white;
    width: 250px;
    height: 40px;
    border-radius: 25%;
    position: relative;
    float: left;
    text-align: center;
    left: 3%;
    margin-right: 10px;
    margin-top: 6%;
    font-size: 25px;
    padding-top: 5px;
}

/* Buttons */
.btn {
    height: 200px;
    width: 300px;
    color: white;
    font-family: Karla, sans-serif;
}

.btn--big {
    border-radius: 50%;
    padding: 10px;
    padding-top: 25px;
    border: 10px solid;
    transition: all;
    height: 150px;
    width: 150px;
    margin: 0 25px;
    font-size: 70px;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 30px;
    position: relative;
    padding-top: 10%;
    color: black;
}

.btn--purple::after {
    content: attr(data-type);
    position: relative;
    right: 15px;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:focus,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:focus,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--purple {
    border-color: purple;
    color: purple;
}

.btn--purple:active,
.btn--purple:focus,
.btn--purple:hover {
    background-color: indigo;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:focus,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

#button-container {
    position: relative;
}

#submit-button {
    margin: auto;
    text-align: center;
    width: 50%;
}

.submit {
    border-radius: 25%;
    background-color: #fcf403;
    border: 1px transparent;
    width: 300px;
    height: 75px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: 2px solid black;
}

.submit:active,
.submit:hover {
    background-color: red
}

/* score area */

.score-area {
    position: relative;
    text-align: center;
    font-size: 30px;
}

.score-area p {
    display: inline-block;
    padding: 15px;
}

/* Media Quieries */

@media (max-width: 1300px) {

    #option1,
    #option2,
    #option3 {
        width: 230px;
        font-size: 20px;
        padding-top: 10px;
    }

    .opening-container h1 {
        font-size: 30px;
    }

    .display-container {
        margin: 0;
        position: relative;
        left: 30%;
        text-align: center;
    }


}

@media (max-width: 1200px) {

    #option1,
    #option2,
    #option3 {
        width: 210px;
    }

    #display-question {
        font-size: 15px;
    }

    .display-container {
        height: 300px;
        width: 350px;
        left: 25%;
        top: 30px;
    }

    .display-container h1 {
        font-size: 20px;
    }

    .display-container h2 {
        font-size: 15px;
    }

    .emoji {
        font-size: 50px;
    }

}

@media (max-width: 1100px) {

    #option1,
    #option2,
    #option3 {
        width: 190px;
        margin-top: 50px;
    }

    #display-question {
        width: 75%;
    }

    .opening-container h1 {
        font-size: 25px;
        padding-top: 5px;
    }

    .display-container {
        left: 22%;
    }
}

@media (max-width: 1000px) {

    .question-area {
        height: 60px;
    }

    #option1,
    #option2,
    #option3 {
        width: 170px;
    }

    .btn--big {
        width: 125px;
        height: 125px;
        font-size: 50px;
    }

    .controls-area {
        margin-left: 30px;
    }

    .btn--big::after {
        font-size: 20px;
        left: -0.7rem;
    }

    .btn--red::after {
        left: 1px;
    }

    .btn--blue::after {
        left: 1px;
    }

    .btn--green::after {
        left: 1px;
    }

    #option1,
    #option2,
    #option3 {
        font-size: 15px;
        padding-top: 18px;
    }

    .opening-container h1 {
        padding-top: 13px;
    }

    .display-container {
        left: 20%;
    }
}

@media (max-width: 950px) {

    .display-container {
        left: 18%;
    }
}

@media (max-width: 900px) {

    #option1,
    #option2,
    #option3 {
        width: 150px;
    }

    .btn--big {
        width: 115px;
        height: 115px;
        font-size: 40px;
    }

    .btn--big::after {
        top: 10px;
    }

    .opening-container h1 {
        font-size: 20px;
    }

    .display-container {
        height: 300px;
        width: 300px;
        left: 18%;
    }

    .display-container h1 {
        margin-bottom: 0px;
    }
}

@media (max-width: 850px) {

    .btn--big {
        width: 100px;
        height: 100px;
        font-size: 30px;
    }

    .btn--big::after {
        font-size: 15px;
        top: 15px;
    }

    .submit {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .game-area {
        height: 600px;
    }

}

@media (max-width: 800px) {

    #option1,
    #option2,
    #option3 {
        width: 125px;
        left: 10%;
    }
}

@media (max-width: 750px) {
    .category-container span {
        font-size: 30px;
    }

    .btn--big {
        width: 85px;
        height: 85px;
    }

    .btn--big::after {
        top: 0;
    }

    .fa-landmark:before {
        position: relative;
        bottom: 10px;
    }

    .fa-film:before {
        position: relative;
        bottom: 10px;
    }

    .fa-baseball-bat-ball:before {
        position: relative;
        bottom: 10px;
    }

    .fa-earth-americas:before {
        position: relative;
        bottom: 10px;
    }

    #option1,
    #option2,
    #option3 {
        left: 22px;
    }

    .display-container {
        left: 150px;
    }
}

@media (max-width: 700px) {
    .opening-container h1 {
        font-size: 15px;
    }
}

@media (max-width: 685px) {
    .btn--big {
        width: 75px;
        height: 75px;
    }

    .fa-landmark:before {
        bottom: 15px;
    }

    .fa-film:before {
        bottom: 15px;
    }

    .fa-baseball-bat-ball:before {
        bottom: 15px;
    }

    .fa-earth-americas:before {
        bottom: 15px;
    }

    #option3 {
        margin-top: 80px;
        position: absolute;
        left: 40%
    }

    #option1 {
        margin-top: 15px;
        left: 50px;
    }

    #option2 {
        margin-top: 15px;
        left: 100px;
    }

    .display-container {
        left: 110px;
    }
}

@media (max-width: 630px) {
    .game-area {
        height: 650px;
    }

    .controls-area {
        width: 400px;
        margin: 10px auto;
        margin-left: 50px;
        margin-top: 30px;
    }

    .btn--big {
        margin: 10px 10px;
    }

    #display-question {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    #option2 {
        left: 70px;
    }

    .display-container {
        left: 90px;
    }

    .game-area {
        height: 600px;
    }
}

@media (max-width: 550px) {
    .controls-area {
        margin-left: 20px;
    }

    #option1 {
        left: 25px;
    }

    #option2 {
        left: 35px;
    }

    #option3 {
        left: 190px;
    }

    .display-container {
        left: 65px;
    }

}

@media (max-width: 500px) {
    .controls-area {
        font-size: 2px;
        display: block;
        column-count: 2;
        position: relative;
        left: 80px;
        margin-top: 20px;
    }

    .category-container span {
        font-size: 25px;
    }

    .btn--big::after {
        top: -10px;
    }

    .question-area {
        margin-top: 5px;
    }

    .game-area {
        height: 720px;
    }

    .options-area {
        height: 250px;
    }

    #option1 {
        left: 89px;
    }

    #option2 {
        position: absolute;
        left: 180px;
        top: 610px;
    }

    #option3 {
        left: 180px;
        top: 630px;
    }

    .display-container {
        left: 40px;
    }
}

@media (max-width: 450px) {
    .controls-area {
        left: 60px;
    }

    #option1 {
        left: 65px;
    }

    #option2 {
        left: 150px;
    }

    #option3 {
        left: 150px;
    }

    .submit {
        position: relative;
        right: 20px;
    }

    .display-container {
        left: 20px;
    }

    .score-area {
        font-size: 17px;
    }
}

@media (max-width: 420px) {
    #option2 {
        left: 144px;
    }

    #option3 {
        left: 144px;
    }
}

@media (max-width: 400px) {
    .display-container {
        position: relative;
        left: 60px;
        width: 170px;
        height: 220px;
    }

    .display-container h1 {
        font-size: 15px;
    }

    .display-container h2 {
        font-size: 10px;
    }

    .emoji {
        font-size: 35px;
    }

    .button-container button {
        width: 7rem;
    }

    .display-container p {
        font-size: 12px;
    }

    .controls-area {
        left: 40px;
    }

    #option1 {
        left: 50px;
    }

    #option2 {
        left: 124px;
    }

    #option3 {
        left: 124px;
    }

    .submit {
        right: 35px;
    }

}

@media (max-width: 375px) {
    .heading {
        font-size: 3rem;
    }

    .controls-area {
        width: 100%;
        left: 0;
        margin-top: 25px;
    }

    .category-container span {
        font-size: 20px;
    }

    .btn--big::after {
        top: 0;
        position: relative;
        top: -10px;
    }

    #display-question {
        font-size: 10px;
    }

    .options-area {
        height: 220px;
    }

    .question-area {
        margin-top: 10px;
    }

    #option1 {
        margin-top: 5px;
    }

    #option2 {
        margin-top: 10px;
        top: 560px;
    }

    #option3 {
        margin-top: 60px;
        top: 585px;
    }

    .game-area {
        height: 670px;
    }

    .submit {
        position: relative;
        width: 100px;
        height: 30px;
        font-size: 10px;
        left: 0px;
    }

    .score-area {
        font-size: 18px;
    }

    .display-container {
        position: relative;
        left: 40px;
        ;
        width: 170px;
        height: 220px;
    }

    .display-container h1 {
        font-size: 15px;
    }

    .display-container h2 {
        font-size: 10px;
    }

    .emoji {
        font-size: 35px;
    }

    .button-container button {
        width: 7rem;
    }

    .display-container p {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    #option1 {
        left: 45px
    }

    #option2 {
        left: 113px;
    }

    #option3 {
        left: 113px;
    }
}

@media (max-width: 320px) {
    #option1 {
        left: 35px
    }

    #option2 {
        left: 99px;
    }

    #option3 {
        left: 99px;
    }
}

@media (max-width: 280px) {
    .controls-area {
        left: -10px;
    }

    #option1 {
        left: 20px
    }

    #option2 {
        left: 77px;
    }

    #option3 {
        left: 77px;
    }
}